body{
    background-color: lightcyan;
}

#demo{
    height: 400px;
    width: 600px;
    justify-content: center;
    align-items: center;
    width: 100% !important;
}
button{
    background-color: blue;
    width: 140px;
    height: 65px;
    border-radius: 10px;
    box-shadow: inset 4px 4px 4px burlywood;

    border: 5px solid white;

}



.button2{
    background-color: red;
    width: 140px;
    box-shadow: 4px 4px 4px grey;
    height: 65px;
    border-radius: 10px;
    border: 5px solid white;
}
.mom{
    justify-content: space-around;
    
    
}